.checkbox {
  background-color: #257cff;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.rounded {
  width: 2.1375rem;
  height: 2.1375rem;
  border-radius: 50%;
}
.checkbox[data-state='unchecked'] {
  background-color: #d5d5d5;
}

.checkbox[data-state='unchecked'] .icon {
  display: none;
}
