.checkbox {
  background-color: #ffd814;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.checkbox[data-state='unchecked'] {
  background-color: #d5d5d5;
}
