.button {
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 30px;
  background: lightgray;
  width: fit-content;
  padding: 0.5rem 15px;
  position: relative;
  padding-right: calc(2.5rem + 15px);
  overflow: hidden;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem 15px;
  transition: 1s ease;
  clip-path: circle(0.8rem at calc(100% - 1.5rem) 50%);
}

.button:hover .icon {
  clip-path: circle(150% at calc(100% - 1.5rem));
}

.button:hover .icon .default_icon {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25%,
  100% {
    transform: rotate(360deg);
  }
}
