.badge {
  border-radius: 1.875rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  padding: 0.25rem 0.75rem;
  height: 2.3125rem;
}
.badge:hover {
  background-color: #c6c6c6;
}
.badge:active {
  background-color: #9a9a9a;
}
.badge.admin {
  background-color: #ffc83a;
}
.badge.admin:hover {
  background-color: #e4a810;
}
.badge.admin:active {
  background-color: #c08e0d;
}
.badge.manager {
  background-color: #a7cdf9;
}
.badge.manager:hover {
  background-color: #84afe3;
}
.badge.manager:active {
  background-color: #628fc4;
}
.badge.limit {
  background-color: #3b3b3b;
  color: white;
}
.icon-contain {
  padding-left: 0.3125rem;
}

.icon {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #bbbbbb;
}
