.tag {
  border-radius: 1.875rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.25rem 0.9375rem;
  height: 2.0625rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.tag.dark {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
  color: white;
}

.tag.light {
  background-color: white;
  border-color: #cccccc;
}

.delete-contain {
  padding-left: 0.625rem;
  padding-right: 0.5rem;
}

.delete-button {
  width: 1rem;
  height: 1rem;
}
