.image-upload-container {
  width: 300px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #999;
}
.image-upload-container:hover {
  background-color: #cecece;
  color: #8c8c8c;
  border-color: #8c8c8c;
}
.image-upload-container:hover .plus-icon {
  background-color: #8c8c8c;
}
.image-upload-container:active {
  background-color: #929292;
  color: #6f6f6f;
  border-color: #6f6f6f;
}
.image-upload-container:active .plus-icon {
  background-color: #6f6f6f;
}

.upload-placeholder {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plus-icon {
  font-size: 48px;
  color: #fff;
  background-color: #ccc;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-text {
  margin-top: 10px;
}

.crop-container {
  width: 100%;
  height: 100%;
}

.crop-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cropped-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.cropped-image-container > img {
  object-fit: cover;
}
