.button {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: #333;
}
/** variant: dark  */
.dark {
  color: white;
  background-color: #000000;
}
/** variant: light  */
.light {
  color: white;
  background-color: #464646;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.light:disabled {
  color: #aaaaaa;
  border-color: #aaaaaa;
  background-color: #e5e5e5;
}
/** variant: light  */
.primary {
  color: #e1e9ff;
  background-color: #5f88f3;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.ghost {
  color: inherit;
  background-color: inherit;
}
.small {
  font-size: 12px;
  padding: 15px 25px;
}
.medium {
  font-size: 14px;
  padding: 11px 20px;
}
.large {
  font-size: 16px;
  padding: 12px 24px;
}

.button.rounded-small {
  border-radius: 10px;
}

.button:disabled {
  color: #7a7a7a;
  border-color: #7a7a7a;
  background-color: #b1b1b1;
}
