.popupContainer {
  width: 420px;
  height: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.header {
  padding: 16px;
  display: flex;
}

.searchInput {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-right: 8px;
}
.selectAll {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.searchButton {
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.userList {
  flex-grow: 1;
  overflow-y: auto;
}
.userItem {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  gap: 1rem;
  width: 100%;
}
.userItem .userInfo {
  background-color: #e2e2e2;
  color: white;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}
.userItem.checked .userInfo {
  background-color: #4a90e2;
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.userName {
  flex-grow: 1;
}

.addButton {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
